.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.relatedproducts h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproducts hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item {
    display: flex;
    flex-direction: row; /* Add this if you want items in a row */
    justify-content: center; /* Add this for horizontal alignment */
    align-items: center; /* Add this for vertical alignment */
    gap: 30px;
    margin-top: 50px;
}
